<p>For radio button, the value should be set as string</p>
<form [formGroup]="form" autocomplete="false" (submit)="onSubmit()">
  <br/>
  ID: <input type="text" formControlName="id" [ngClass]="{'is-invalid' : isSubmit && f.id.errors}" />
  <br/>
  Name: <input type="text" formControlName="name" [ngClass]="{'is-invalid' : isSubmit && f.name.errors}" />
  <div *ngIf="isSubmit && f.name.errors">
    <p *ngIf="f.name.errors.required">Required</p>
    <p *ngIf="f.name.errors.minlength">Maxlenght</p>
  </div>
  <br/>
  Gender:
  <input type="radio" formControlName="gender" value="male" />Male
  <input type="radio" formControlName="gender" value="Female" />Female
  <br/>
  Married
  <input type="checkbox" formControlName="isMarried" />
  <br/>
  Group:
  <select formControlName="groupId" [ngClass]="{'is-invalid': isSubmit && f.groupId.errors}">
    <option *ngFor="let g of listGroup" value="{{ g.value }}">{{ g.title }}</option>
  </select>
  <br/>
  <button type="submit" value="submit" >Submit</button>
</form>
<br/>
{{ form.value | json }}

<router-outlet></router-outlet>
