<div class="row">
  <div class="col-5">Col 5</div>
  <div class="col-7">Col 7</div>
</div>
<div class="container">
  <h2>ahd</h2>
  <h2>ahd</h2>
  <h2>ahd</h2>
  <table class="table table-fixed">
    <thead>
      <tr>
        <th style="width: 200px;">First Name</th>
        <th style="width: 300px;">Last Name</th>
        <th style="min-width: 300px;">E-mail</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="width: 200px;">John</td>
        <td style="width: 300px;">Doe</td>
        <td style="min-width: 300px;">johndoe@email.com</td>
      </tr>

      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johndoe@email.com</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johndoe@email.com</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johndoe@email.com</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johndoe@email.com</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johndoe@email.com</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johndoe@email.com</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johndoe@email.com</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johndoe@email.com</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johndoe@email.com</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johndoe@email.com</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johndoe@email.com</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johndoe@email.com</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johndoe@email.com</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johndoe@email.com</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johndoe@email.com</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johndoe@email.com</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johndoe@email.com</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johndoe@email.com</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johndoe@email.com</td>
      </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>
