<div class="full-width" style="border:1px solid #ffaacc;">
  <h2>Parent container</h2>
  <p>The are four ways to share data between component</p>
  <p>1. Parent to child via input</p>
  <input type="text" [(ngModel)]="message" />
  <br/>
  <h2>Get message from child using ViewChild</h2>
  <p>Message from child component 1 {{ msgFromChildOne }}</p>
  <br/>
  <h2>Get message from child using Output and EventEmitter</h2>
  <p>Message from child component 2 {{ msgFromChildTwo }}</p>
  <br/>
  <h2>Get message from service</h2>
  <p>Message from service {{ msgFromService }}</p>
  <br/>
  <br/>
  <div class="left-side">
    <div class="full-width">
      <div class="left-side">
        <app-children-one [message]="message"></app-children-one>
      </div>
      <div class="right-side">
        <app-children-two [message]="message" (messageChangeEvent)="getChildTwoMessageChange($event)"></app-children-two>
      </div>
    </div>
  </div>
  <div class="right-side">
      <div class="full-width">
        <div class="left-side">
          <app-sibling-one></app-sibling-one>
        </div>
        <div class="right-side">
          <app-sibling-two></app-sibling-two>
        </div>
      </div>
  </div>
</div>
