<form [formGroup]="form" autocomplete="off" (submit)="onSubmit()">
  <input type="text" formControlName="userName" [ngClass]="{'is-invalid': isSubmit && f.userName.errors}"/><br/>
  <p *ngIf="isSubmit && f.userName.errors.required">
    Input username
  </p>
  <input type="password" formControlName="password" [ngClass]="{'is-invalid': isSubmit && f.password.errors}" /><br/>
  <div *ngIf="isSubmit && f.password.errors">
      <p *ngIf="f.password.errors.required">
          Input password
        </p>
        <p *ngIf="f.password.errors.minlength">
          Min length 10 digits
        </p>
  </div>
  <input type="submit" value="Submit"/>
</form>
<div *ngIf="form.dirty">
  Form durty
</div>
<div *ngIf="form.touched">
  Form touched
</div>
<div *ngIf="form.errors">
  <p *ngFor="let i of form.errors"> {{ i }}</p>
</div>
<p *ngFor="let i of form.errors"> {{ i }}</p>
<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
