<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav>
  <ul>
    <li><a [routerLink]="['/home']">Home</a></li>
    <li><a [routerLink]="['/search']">Search</a></li>
    <li><a [routerLink]="['/artist']">Artist</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<br/>
<br/>
<br/>
<p>Angular routes guard is an interfaces which can the the route whether or not it should allow navigation to a response route</p>
<p>THis make this decision by looking for a 'true' or 'false' return value from a class which implements the given guard interface.</p>
<p><b>There are five different type of guards</b></p>
<p><b>CanActivate</b></p>
<p>Check to see if user can visit a route</p>
<p><b>CanActivateChild</b></p>
<p>Check to see if user can visit a routes child</p>
<p><b>CanDeactive</b></p>
<p>Check to see if user can exit a route</p>
<p><b>Resolve</b></p>
<p>Perform route data retrieval before route activation</p>
<p><b>CanLoad</b></p>
<p>Check to see if user can route to a module that lazy loaded</p>
